div.sheet-main {
  background-image: url(https://github.com/Bjoerik623/Roll20_RedMarkets_CustomSheet/blob/master/images/Page1.jpg?raw=true);
  background-repeat: no-repeat;
  height:1080px;
}
div.sheet-topLeftGroup{
  position: relative;
  Top:130px;
  left: 125px;
  width: 250px;
  height: 175px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 22px 22px 44px 44px 44px;
}
div.sheet-topRightGroup{
  position: relative;
  Top:-730px;
  left: 400px;
  width: 250px;
  height: 175px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 26px 26px 26px 26px 54px 26px 26px 26px 26px 26px;
}
div.sheet-Threats{
  position: relative;
  Top:178px;
  left: 55px;
  width: 25px;
  height: 25px;
  vertical-align:middle;
  display:box;
}
div.sheet-RationsColumn{
  position: relative;
  Top:-122px;
  left: 282px;
  width: 133px;
  height: 375px;
  display: grid;
  grid-template-columns: 0fr 0fr 0fr 0fr 1fr 0fr 0fr 0fr 0fr 0fr;
  zoom:0.9;
}
div.sheet-ThreatColumn1{
  position: relative;
  Top:-792px;
  left: 673px;
  width: 22px;
  height: 375px;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
  grid-template-rows: 11px 11px 11px 11px 11px;
  zoom:0.7;
}
div.sheet-ThreatColumn2{
  position: relative;
  Top:-1167px;
  left: 790px;
  width: 22px;
  height: 375px;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
  grid-template-rows: 11px 11px 11px 11px 11px;
  zoom:0.7;
}
div.sheet-ThreatColumn3{
  position: relative;
  Top:-1542px;
  left: 910px;
  width: 22px;
  height: 375px;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
  grid-template-rows: 11px 11px 11px 11px 11px;
  zoom:0.7;
}
div.sheet-atrGrpSTR{
  position: relative;
  Top:178px;
  left: 55px;
  width: 25px;
  height: 25px;
  vertical-align:middle;
  display:box;
}
div.sheet-atrButtonSTR{
  position: relative;
  Top:220px;
  left: 170px;
  width: 25px;
  height: 25px;
  vertical-align:middle;
  display:box;
  zoom:0.7;
}
div.sheet-atrGrpSPD{
  position: relative;
  Top:241px;
  left: 55px;
  width: 25px;
  height: 25px;
  vertical-align:middle;
  display:box;
}
div.sheet-atrButtonSPD{
  position: relative;
  Top:312px;
  left: 170px;
  width: 25px;
  height: 25px;
  vertical-align:middle;
  display:box;
  zoom:0.7;
}
div.sheet-atrGrpADP{
  position: relative;
  Top:285px;
  left: 55px;
  width: 25px;
  height: 25px;
  vertical-align:middle;
  display:box;
}
div.sheet-atrButtonADP{
  position: relative;
  Top:375px;
  left: 170px;
  width: 25px;
  height: 25px;
  vertical-align:middle;
  display:box;
  zoom:0.7;
}
div.sheet-atrGrpINT{
  position: relative;
  Top:330px;
  left: 55px;
  width: 25px;
  height: 25px;
  vertical-align:middle;
  display:box;
}
div.sheet-atrButtonINT{
  position: relative;
  Top:440px;
  left: 170px;
  width: 25px;
  height: 25px;
  vertical-align:middle;
  display:box;
  zoom:0.7;
}
div.sheet-atrGrpCHA{
  position: relative;
  Top:412px;
  left: 55px;
  width: 25px;
  height: 25px;
  vertical-align:middle;
  display:box;
}
div.sheet-atrButtonCHA{
  position: relative;
  Top:490px;
  left: 170px;
  width: 25px;
  height: 25px;
  vertical-align:middle;
  display:box;
  zoom:0.7;
}
div.sheet-atrGrpWIL{
  position: relative;
  Top:482px;
  left: 55px;
  width: 165px;
  height: 45px;
  vertical-align:middle;
  display:inline-block;
}
div.sheet-twoColTextField{
    padding-left: 12px;
    padding-Right: 12px;
    display: block;
    align-items: center;
}
/* --------- DAMAGE ------------- */
div.sheet-DamageHead{
    display:grid;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
    position: relative;
    Top:112px;
    left: 387px;
    width: 60px;
    height:60px;
    padding:0px;
}
div.sheet-DamageLarm{
    display:grid;
    grid-template-columns: 2fr 2fr;
    position: relative;
    Top:136px;
    left: 386px;
    width: 60px;
    height:60px;
    padding:0px;
}
div.sheet-DamageRarm{
    display:grid;
    grid-template-columns: 2fr 2fr;
    position: relative;
    Top:77px;
    left: 710px;
    width: 60px;
    height:60px;
    padding:0px;
}
div.sheet-DamageLLeg{
    display:grid;
    grid-template-columns: 2fr 2fr;
    position: relative;
    Top:236px;
    left: 436px;
    width: 60px;
    height:60px;
    padding:0px;
}
div.sheet-DamageRLeg{
    display:grid;
    grid-template-columns: 2fr 2fr;
    position: relative;
    Top:175px;
    left: 660px;
    width: 60px;
    height:60px;
    padding:0px;
}
div.sheet-DamageTorso{
    display:grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    position: relative;
    Top:-60px;
    left: 513px;
    width: 60px;
    height:60px;
    padding:0px;
}
/* --------- Text ------------- */

span.sheet-bold{
  font-weight: 800;
  font-size: medium;
}
text {
  font-family: "Lucida Console", Courier, monospace;
  color: black;
  margin: 5px 0px 5px 0px;
  font-size: 1.25em;
}
label {
  font-family: "Lucida Console", Courier, monospace;
  color: black;
  margin: 5px 0px 5px 0px;
  font-size: 1.25em;
}
/* ----------Skills--------------*/
div.sheet-skillGrp{
    float: left;
    
}
div.sheet-skillButton{
    float: right;
}
div.sheet-Skills{
    position: relative;
    Top:-670px;
    left: 450px;
    width: 95px;
    height: 15px;
    zoom:0.7;
    display:grid;
    grid-template-columns: 2fr 2fr;
    padding:0px;
}
div.sheet-Skills2{
    position: relative;
    Top:-525px;
    left: 450px;
    width: 95px;
    height: 15px;
    zoom:0.7;
    display:grid;
    grid-template-columns: 2fr 2fr;
    padding:0px;
}
div.sheet-Skills3{
    position: relative;
    Top:-411px;
    left: 450px;
    width: 95px;
    height: 15px;
    zoom:0.7;
    display:grid;
    grid-template-columns: 2fr 2fr;
    padding:0px;
}
div.sheet-Skills4{
    position: relative;
    Top:-291px;
    left: 450px;
    width: 95px;
    height: 15px;
    zoom:0.7;
    display:grid;
    grid-template-columns: 2fr 2fr;
    padding:0px;
}
div.sheet-Skills5{
    position: relative;
    Top:-128px;
    left: 450px;
    width: 95px;
    height: 15px;
    zoom:0.7;
    display:grid;
    grid-template-columns: 2fr 2fr;
    padding:0px;
}
/* --------- Inputs ------------- */

input[type="text"] {
  background-color: transparent;
  font-family: "Lucida Console", Courier, monospace;
  font-weight:800;
  border-style: none none none none;
  color:black;
  border-color: black;
}
input[type="numberAtr"] {
  background-color: transparent;
  font-family: "Lucida Console", Courier, monospace;
  font-weight:800;
  border-style: none none none none;
  color:black;
  border-color: black;
  font-size: 1.4em;
}
input[type="number"] {
  background-color: transparent;
  font-family: "Lucida Console", Courier, monospace;
  font-weight:800;
  border-style: none none none none;
  color:black;
  border-color: black;
    font-size: 1.4em;

}
textarea {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

input[type="checkbox"].sheet-checkbox {
	background:url(https://github.com/Bjoerik623/Roll20_RedMarkets_CustomSheet/blob/master/killDamage.JPG?raw=true)
	border-style: solid black;
	border-radius: 0px;
}

textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus{
  background-color: #F6CED8;
}

/* -----Hides up/down buttons on numberfields that don't need them ---*/

input[type=number].sheet-ref::-webkit-inner-spin-button,
input[type=number].sheet-ref::-webkit-outer-spin-button,
input[type=number].sheet-txtfield::-webkit-inner-spin-button,
input[type=number].sheet-txtfield::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number].sheet-ref,
input[type=number].sheet-txtfield {
  -moz-appearance: textfield;
}

/* ------- Buttons ---------- */
button[type=roll].sheet-blank-roll-button::before {
    background-image: none;
    background-color: red; /* Green */
    font-family: dicefontd6;
    content: "F"; 
    color: #500000;
}
button[type=damage]::before {
    background-image: none;
    font-family: Pictos;
    content: "*"; 
    color: #000000;
    font-size:10px;
}






.sheet-container {
    width: 35px;
    height:35px;
}

.sheet-container,
.sheet-child {
    display: inline-block;
}

.sheet-child {
    vertical-align: middle;
    width: 35px;
    height: 35px;
}

.sheet-child input,
.sheet-child input + label {
    display: none;
    z-index: 1;
}

.sheet-child:hover {
    transition-delay: 1.5s;
    background: gray;
    position:relative;
    width: 100px;
    height: auto;
    z-index: 1;
    padding: 5px;
    transition: all 0.5s;
    
}

.sheet-child:hover > div.sheet-stun {
    display: none;
}

.sheet-child:hover input,
.sheet-child:hover input + label {
    display: inline;
}

.sheet-child:hover input + label {
   margin-right: 50%
}

.sheet-child:hover label {
    display: inline-block;
}
div.sheet-none {
    width: 30px;
    height: 30px;
    background-image: url(https://github.com/Bjoerik623/Roll20_RedMarkets_CustomSheet/blob/master/images/noDamage.JPG?raw=true);
    background-repeat: no-repeat;
    display: none;
    border: 3px solid black;
}
div.sheet-stun {
    width: 30px;
    height: 30px;
    background-image: url(https://github.com/Bjoerik623/Roll20_RedMarkets_CustomSheet/blob/master/images/stunDamage.JPG?raw=true);
    background-repeat: no-repeat;
    display: none;
    border: 3px solid black;
}
div.sheet-kill {
    width: 30px;
    height: 30px;
    background-image: url(https://github.com/Bjoerik623/Roll20_RedMarkets_CustomSheet/blob/master/images/killDamage.JPG?raw=true);
    background-repeat: no-repeat;
    display: none;
    border: 3px solid black;
}
.sheet-child:not(:hover) input.sheet-select-radio.sheet-none:checked ~ div.sheet-none,
.sheet-child:not(:hover) input.sheet-select-radio.sheet-stun:checked ~ div.sheet-stun,
.sheet-child:not(:hover) input.sheet-select-radio.sheet-kill:checked ~ div.sheet-kill {
    display: block;
}